@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');

*{
    font-family: 'Merriweather' , sans-serif;
    box-sizing: border-box;
    color:#ffffff;
    margin: 0;
    padding: 0;
}

body{
    background-color: #79231A;
    padding:1rem;
}

/* Circle SVG */
.circleshades{
    position: absolute;
    z-index: -1;
    /* width:auto; */
}

#shadeone{
    top:0;
    left:0;
    /* z-index: 1; */
}

#shademinione{
    top: 60px;
    right: 390px;
}

#shadetwo{
    top:550px;
    right:0px;
}

#shademinitwo{
    top:670px;
    left:460px;
    
}

#shadethree{
    top:1200px;
    left:0;
}

#shademinithree{
    top:1230px;
    right:475px;
    
}

#shadefour{
    top:1700px;
    right:0;
}

/* Top Navigation Bar */

#navbar{
    /* padding: 2rem; */
    margin: 2rem 1rem;
    display: flex;
    justify-content:left;
    align-items: center;
    /* z-index: 2;       */
}

#navbar div{
    padding: 1rem 2rem;
}

#navbar div:nth-child(1){
    flex-grow: 2;
}

/* Form */
.signup{
    background-color: #646454;
    padding:1rem 2rem;
}

.signup:hover{
    box-shadow: 2px 2px 2px 1px #000;
    cursor: pointer;
}

#forsale{
    display: flex;
    padding: 1rem;
}

#signupform input[type="text"]{
    border-radius: 10px;
    padding: 1rem;
    border:none;
    box-shadow: 1px 1px 1px 1px #000;
    margin: 1rem 0rem;
    outline:none;
    color:#000;
    background-color: #fff; 
    width: 50%;
}

#onsale{
    padding:0rem 2rem;
    z-index: 2;
}

#onsale h1{
    font-size: 3rem;
}

#onsale p{
    padding: 1rem 0rem;
}


#createaccount[type=button]{
    background-color: #646454;
    border:none;
    padding: 1rem;
    width:50%;
    color:#fff;
    font-size: 1.2rem;
}

#createaccount:hover{
    box-shadow: 2px 2px 2px 1px #000;
    cursor: pointer;
}

/* Product Details */
#productdetails{
    margin: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    /* justify-content:stretch; */

}

#productdetails img{
    width:100%;
}

#productdetails h1,img {
    padding:2rem;
}


#productdetails h1{
    font-size: 3rem;
}

/* Footer */
#calltoaction{
    text-align: center;
    padding:1rem;
}

footer{
    text-align: center;
    padding:2rem;
}

/* Responsive Design */



