@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');

*{
    font-family: 'Merriweather' , sans-serif;
    box-sizing: border-box;
    color:#ffffff;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html{
    position: relative;
}

body{
    background-color: #79231A;
    padding:1rem;
}


/* Top Navigation Bar */

#navbar{
    /* padding: 2rem; */
    margin: 2rem 1rem;
    display: flex;
    justify-content:left;
    align-items: center;
    /* z-index: 2;       */
}

#navbar div{
    padding: 1rem 2rem;
}

#navbar div:nth-child(1){
    flex-grow: 2;
}

/* Form */
.signup{
    background-color: #646454;
    padding:1rem 2rem;
}

.signup:hover{
    box-shadow: 2px 2px 2px 1px #000;
    cursor: pointer;
}

#forsale{
    display: flex;
    padding: 1rem;
}

#signupform input[type="text"]{
    border-radius: 10px;
    padding: 1rem;
    border:none;
    box-shadow: 1px 1px 1px 1px #000;
    margin: 1rem 0rem;
    outline:none;
    color:#000;
    background-color: #fff; 
    width: 50%;
}

#onsale{
    padding:0rem 2rem;
    z-index: 2;
}

#onsale h1{
    font-size: 3rem;
}

#onsale p{
    padding: 1rem 0rem;
}

#candleimg{
    min-width: 100%;
    min-height: 100%;
}

#createaccount[type=button]{
    background-color: #646454;
    border:none;
    padding: 1rem;
    width:50%;
    color:#fff;
    font-size: 1.2rem;
}

#createaccount:hover{
    box-shadow: 2px 2px 2px 1px #000;
    cursor: pointer;
}

/* Product Details */
#productdetails{
    margin: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    /* justify-content:stretch; */

}

#productdetails img{
    width:100%;
}

#productdetails h1,img {
    padding:2rem;
}


#productdetails h1{
    font-size: 3rem;
}

/* Footer */
#calltoaction{
    text-align: center;
    padding:1rem;
}

footer{
    text-align: center;
    padding:2rem;
}

/* Responsive Design */


@media screen and (max-width:1100px) {
    *{
        font-size: 14px;
    }

    #signupform input[type="text"]{
        width:100%;
    }

    #createaccount[type=button]{
        font-size: 14px;
        width:60%;
        height: auto;
    }

    
}

@media screen and (max-width:890px){
   body{
       position: static;
       padding: 0;

   }
    #navbar div:nth-child(2){
        display: none;
    }

    #forsale{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #forsale ~ #createaccount{
         text-align: center;
    }

    #onsale{
        order:2;
        position: absolute;
        /* align-items: center; */
        /* text-align: center; */
        /* align-content: center; */
        padding:3rem;
        /* align-content: center; */
    }
    #candleimg{
        order:1;
        z-index: -1;
        max-width: 100%;
        max-height: 100%;
        padding: 0;
        background-image: url(./img/Candle1.png);
    }


    #productdetails{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /* margin: 0; */
    }

    #detailone{
        text-align: left;
        padding:0;

    }

    #detailtwo{
        order:4;

    }
    
}